{% load bootstrap4 %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Edit Bio</title>
    {{form.media}}

    {% block styles %}
    {% bootstrap_css %}

    {% endblock %}

</head>

<body>
    {% include "navbar.html"%}
    <div class="container">

        <h1 class="text-center" style="padding-top:50px;">Update your profile </h1>

        <form action="{%url 'edit_profile'%}" method="post" enctype="multipart/form-data">
            {%csrf_token%}

            {% bootstrap_form form%}
            <input type="submit" class="btn btn-light btn-lg" value="Update">
        </form>

        {% block scripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        {% bootstrap_javascript %}
        {% endblock %}
    </div>
</body>

</html>