{% extends 'base.html'%}
{% block content %}
<div class="container-fluid" id="nits">
    
    <div class = "grid flex">
        
    {% for project in projects %}
    
    <div class = "card grid-item">
    <img class="card-img-top" src="{{project.image.url}}" alt="">
    <div class="card-body">
        <h4 class="card-title">{{project.title}}</h4>
        <div class="row">
            <div class="col-md-4">
                <p class="card-text">Design: {{project.average_design}}</p>
            </div>
            <div class="col-md-4">
                <p class="card-text">Usability: {{project.average_usability}}</p>
            </div>
            <div class="col-md-4">
                <p class="card-text">Content: {{project.average_content}}</p>
            </div>
        </div>
        <br>
        <a class="text-center" style="color: goldenrod;" href="{% url 'project_details' project.id %}"> View Details</a>
    </div></div>
    {% endfor %}
    </div>
</div>

{% endblock%}